aiohttp==3.6.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.2.0
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
click==7.1.1
colorama==0.4.4
comtypes==1.1.7
cryptography==3.1.1
decorator==4.4.2
discord.py==1.4.1
Flask==1.1.2
Flask-WTF==0.14.3
idna==2.9
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
keyboard==0.13.4
MarkupSafe==1.1.1
MouseInfo==0.1.2
multidict==4.7.6
numpy==1.18.1
opencv-python==4.2.0.32
packaging==20.4
Pillow==7.0.0
pluggy==0.13.1
psutil==5.7.0
psycopg2==2.8.6
py==1.9.0
PyAutoGUI==0.9.48
pycparser==2.20
PyGetWindow==0.0.8
PyMsgBox==1.0.7
PyNaCl==1.4.0
pyparsing==2.4.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
pytest==6.1.2
python-dotenv==0.12.0
python-telegram-bot==12.8
PyTweening==1.0.3
requests==2.23.0
six==1.14.0
toml==0.10.2
tornado==6.0.4
urllib3==1.25.8
Werkzeug==1.0.1
WTForms==2.3.3
yarl==1.6.0
